.pseudo-elementos:hover {
    background-color: green;
    color: white;
}
.pseudo-elementos::after {
    content: "Pasa por encima"
}
.pseudo-elementos:hover::after {
    content: "¡Hecho!"
}
